html,body{height: 100%;overflow: hidden;-webkit-tap-highlight-color:transparent;outline: none;-webkit-user-select:none;background: #f3f4f5;}
body{display: -webkit-box;-webkit-box-orient: vertical;height: 100%;}
.wrapper{-webkit-box-flex: 1;position: relative;}
.scroll{overflow: hidden;}
.search{width:100%;}
.kong{width:100%;height:.9rem;}
 .kong1{width:100%;height: .5rem;}
 .kong2{width:100%;height: 1.4rem;}
  /*.kong2{width:1.375rem;height: 1.3625rem;}*/
  footer .as{flex: 1;background:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);}
.as{text-align: center;}
.as img{margin-top:.3rem;}
.nav{font-size:.7rem;color: #7c7c7c;display: block;}
.home a > .img{display:block;width: 20px;height:20px;background: url('../../img/qianluhome.png') no-repeat;background-size:100% 100%;text-align: center;margin: .3rem auto;}
.chat a > .img{display:block;width: 20px;height:20px;background: url('../../img/chat.png') no-repeat;background-size:100% 100%;text-align: center;margin: .3rem auto; }
.person a > .img{display:block;width: 20px;height:20px;background: url('../../img/my.png') no-repeat;background-size:100% 100%;text-align: center;margin: .3rem auto;}
footer{height: 3.2rem;position: relative;display: flex;background: #fff;border-top:1px solid #E5E5E5;}
      .ripple-container .ripple{
        background-color: rgba(243,245,247,0.4);
        animation: ripple 1.5s forwards cubic-bezier(0, 0, 0.2, 1);
    }
    @keyframes ripple {
        0% {
            transform: scale(0);
            opacity: 1;
        }
        80% {
            transform: scale(1);
        }
        100% {
            opacity: 0;
        }
    }

 /*11111111111*/

/*.header{width:100%;height: 3.2rem;overflow: hidden;}*/ 
.article{overflow: hidden;height: 100%;}  
   /*.header h2{font-size:1.2rem;padding:.8rem 0;color:#7c7c7c;margin-left:1.75rem;letter-spacing: .1rem;}*/ 
  .title{width: 90%;height: 2rem;margin: 0 auto;font-size: 1rem;}
  .vk{color: #c0c0c0!important;}
  .title_c{color: #595959;margin-left: 1rem;font-weight: 600;}
.headerpic{border-radius: 8px;overflow: hidden;margin: 0 auto;overflow: hidden;height:10rem;}
.article h2{width: 90%;margin:0 auto;font-size:1.11rem;letter-spacing: .1rem;color:#595959;overflow: hidden;}
.article p{width: 90%;margin:0 auto;font-size:.9rem;color:#7c7c7c;letter-spacing: .1rem;line-height: 1.5rem;overflow: hidden;}
.text_one{min-height: 16rem;width: 90%;margin: 0 auto;background: #fff;border-radius: 8px;}
/**/
.article{display: none;}
.segu{width: 90%;margin: 0 auto;min-height: 10rem;background: #fff;border-radius: 8px;box-shadow: 0 2px 6px 0 rgba(208,208,208,0.50);}
/*.segu_{width: 90%;margin: 0 auto;min-height: 15rem;background: #fff;border-radius: 8px;box-shadow: 0 2px 6px 0 rgba(208,208,208,0.50);overflow: hidden;}*/
.bigmsg{width:100%;position: relative;height: auto;overflow: hidden;}
.bigpic{width:3rem;height:3rem;;border-radius: 100%;margin-left:1rem;margin-top:.8rem;float:left;position: relative;overflow: hidden;}
.bigtxt{float:left;margin:1rem 0 0 .5rem;}
.bigtxt p{font-size:0.88rem;color:#7c7c7c;line-height: 1.5rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;margin-top:.2rem;}
.bigtxt h3{font-size: 0.9125rem;color:#3a3a3a;position: relative;}
.dian{display: inline-block;width:10px;height: 10px;position: relative;}
.dian:after{content: "";width: 4px;height: 4px;background: #d8d8d8;position: absolute;left:3px;top:3px;border-radius: 100%;}
.sline{width:1px;height: 7.3px;display: inline-block;background: #C0C0C0;margin-left:2.5px;margin-right:2.5px;margin-bottom: 2px;}
.zhiwei{display: inline-block;margin-left:.3rem;font-size:.85rem;font-family: "微软雅黑";}
.allst{position:absolute;width: 1.2rem;height: 1.2rem;background: url(../../img/star.png) no-repeat;background-size: 18px 18px;top:45px;left: 46px;}
.segu a,.segu_ a{display: inline-block;height: 1.8625rem; width:3rem;border: 1px solid #3B3B3B;border-radius: 8px;float:right;margin-top:1.5rem;margin-right: 4%;font-size:.95rem;text-align: center;color:#3B3B3B;line-height: 1.8625rem;}
.segu_text{color: #595959;font-size: .8rem;width: 76%;margin-left: 19%;margin-top: .6rem;line-height: 1.3rem;height: 3.8rem; overflow:hidden;}
.segu_pic{width:100%;margin-top: .9rem;height: auto;overflow: hidden;}
.segu_pic ul{width: 30rem;margin-left: 15%;}
.segu_t{width: 6rem;height: 6rem;border-radius: 6px;float: left;margin-left: .7rem;}
.segu_a{color: #3e9fe9;font-size: .8rem;margin-left: 18%;}
@media only screen and (min-width: 768px) and (max-width: 2000px) {
	html,body{font-size:34px!important;}
	.nav{font-size:.7rem;}
	.banq{font-size:0.7625rem;}
	footer{height: 3.4rem;;}
	.as img{margin-top:.45rem;}
	 .article h2{font-weight: 600;}
}
@media only screen and (min-width: 320px) and (max-width: 320px) {
	html,body{font-size:15px!important;}   		
	footer{height: 3.5rem;;}
	.as img{margin-top:.3rem;}
	.nav{font-size:.5rem;color: #7c7c7c;display: block;}
	  .text_one,.text_two,.text_three{height: auto;}
	.article h2{font-weight: 600;}
}

    	.iScrollHorizontalScrollbar {
    position: absolute;
    z-index: 9999;
    height: 16px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    overflow: hidden;
}

.iScrollHorizontalScrollbar.iScrollBothScrollbars {
    right: 18px;
}

.iScrollVerticalScrollbar {
    position: absolute;
    z-index: 9999;
    width: 16px;
    bottom: 2px;
    top: 2px;
    right: -9px;
    overflow: hidden;
}

.iScrollVerticalScrollbar.iScrollBothScrollbars {
    bottom: 18px;
}

.iScrollIndicator {
    position: absolute;
    background: #c6c6c6;
    border-width: 1px;
    border-style: solid;
    border-color: #c6c6c6;
    border-radius: 8px;
}


.iScrollVerticalScrollbar .iScrollIndicator {
    width: 20%;
    background: -moz-linear-gradient(top, #c6c6c6 0%, #c6c6c6 100%);
    background: -webkit-linear-gradient(top,  #c6c6c6 0%,#c6c6c6 100%);
    background: -o-linear-gradient(top, #c6c6c6 0%,#c6c6c6 100%);
    background: -ms-linear-gradient(top, #c6c6c6 0%,#c6c6c6 100%);
    background: linear-gradient(to bottom,  #c6c6c6 0%,#c6c6c6 100%);
}