<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.finger.birds.db.dao.intelligent.QianluDao">
	
	<insert id="add" parameterType="com.finger.birds.model.intelligent.Qianlu">
		INSERT INTO intelligent_qianlu (`id`, `userId`, `content`, `type`, `url`, `score`, `isRead`, `createTime`, `updateTime`) 
					VALUES (#{id}, #{userId}, #{content}, #{type}, #{url}, #{score}, 0, now(), now())
	</insert>
	
	<update id="readById">
		update intelligent_qianlu 
		set isRead = 1
		where id = #{id,jdbcType=BIGINT} 
	</update>
	
	<update id="editById" parameterType="com.finger.birds.model.intelligent.Qianlu">
		update intelligent_qianlu set 
		content = #{content},
		type = #{type},
		url = #{url},
		score = #{score},
		isRead = 0,
		updateTime = now()
		where id = #{id,jdbcType=BIGINT} 
	</update>
	
	<select id="getMinByUserId" resultType="com.finger.birds.model.intelligent.Qianlu">
		select * from intelligent_qianlu 
		where score = (
			select MIN(score) from intelligent_qianlu
			where userId = #{userId,jdbcType=BIGINT} 
			)
			and userId = #{userId,jdbcType=BIGINT} 
	</select>
	
	<select id="getNotReadCountByUserId" resultType="java.lang.Integer">
		select count(*) from intelligent_qianlu 
		where userId = #{userId,jdbcType=BIGINT} 
			and isRead = 0
	</select>
	
	<select id="getCountByUserId" resultType="java.lang.Integer">
		select count(*) from intelligent_qianlu 
		where userId = #{userId,jdbcType=BIGINT} 
	</select>
	
	<select id="getIsReadIdByUserId" resultType="java.lang.Long">
		select id from intelligent_qianlu 
		where userId = #{userId,jdbcType=BIGINT} 
			and isRead = 1
			limit 1,1
	</select>

	<select id="getMessage" resultType="com.finger.birds.db.po.intelligent.QianluPO">
		select * from intelligent_qianlu 
		where userId = #{userId,jdbcType=BIGINT} 
			and isRead = 0
			and score > 0
			order by score DESC
			limit 1,10
	</select>
</mapper>