html,body{height: 100%;overflow: hidden;-webkit-tap-highlight-color:transparent;outline: none;-webkit-user-select:none;}
body{display: -webkit-box;-webkit-box-orient: vertical;height: 100%;}
.wrapper{-webkit-box-flex: 1;position: relative;}
.scroll{overflow: hidden;}
.kong{width:100%;height:1.5rem;}
.kong1{width:100%;height:1rem;}
header{width:100%;height: auto;overflow: hidden;}
.modify{width: 2rem; height: 2rem;position: absolute;background: url(../../img/bianji.png) no-repeat;
background-size:25px 25px ;right: 5%;top: 16px;}
.person_pic{width:5rem;height: 5rem;margin-left:1rem;position: relative;float: left;margin-top: .3rem;overflow:hidden;border-radius:100%;}
.allst {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../../img/star.png) no-repeat;
    background-size: 20px 20px;
    top: 85px;
    left: 69px;
}
.person_text{width: 60%;height: auto;float: left;margin-left: 1rem;}
.person_text h2{margin: 0;font-family:"Helvetica Neue" ;}
.name{font-size: 1rem;color: #3A3A3A;}
.zhiwei{font-size: 1.3rem;color: #3A3A3A;margin-left: 1rem;}
.person_text p{font-size: .75rem;color: #7C7C7C;margin:.5rem 0 0 0;font-weight: 600;}
.address{margin-left: 1rem;}
.line{display: block;width:100%;height: 1px;background: #e7e7e7;}
/**/
.income{width: 100%;height: auto;position: relative;overflow: hidden;}
.income span{font-size: .75rem;color: #7C7C7C;text-align: center;}
.allin{margin-left: 6.5%;}
.answers{margin-left: 18px;}
.pcoffee{margin-left: 18px;}
.pcoffee:after{content: "";position: absolute;width: 1.2rem;height: 1.2rem;background: url(../../img/yiwen.png) no-repeat;background-size:18px 18px;right: 1.1rem;top: 4px;}
.school{width: 100%;height: 3rem;background: #f6f5f5;display: flex;padding: 0 5%;line-height: 3rem;}
.school span{flex: 1;font-size: .75rem;color: #7C7C7C;text-indent:-10px;}
.school span i{margin-left: .6rem;}
.school span:nth-of-type(1) i{margin-left: .7rem;}
.sline{width:1px;height: 10.3px;display: inline-block;background: #C0C0C0;margin-top: 1.2rem;margin:0 .7rem;}
/**/
.persosn_introduction{width: 100%;height: auto;padding: 0 5%;font-size: .75rem;color: #3a3a3a;overflow: hidden;}
.persosn_introduction span{margin-top: 1rem;display:block;}
.persosn_introduction p{width: 100%;line-height: 1.5rem;margin-top: .9rem;text-align:justify;}
.visitor{width: 100%;height:1.5rem;padding: 0 5%;font-size: .75rem;color: #7C7C7C;}
.visitor span{float: left;}
.visitor_pic{float:left;width: 77%;height:auto;margin-left: 1rem;line-height: 1.3rem;}
.pic_fang{width: 3rem;height: 3rem;border-radius: 100%;margin-top: -.8rem;float: left;overflow:hidden;}
.ziliao{width: 100%;padding: 0 5%;}
.ziliao h2{width:100%;font-size:1rem;font-weight: 600;margin:0 auto;letter-spacing: .1rem;color:#595959;overflow: hidden;line-height:1.5rem;}
.text_one p{width:100%;margin: 1rem auto;font-size:.75rem;letter-spacing: .1rem;color:#7C7C7C;line-height: 1.7rem;}
.ziliao p{color: #7C7C7C;font-size: .9rem;text-align:justify;}
.ziliao p span{font-size: .75rem;}
/*tiwen*/
.tiwen{width: 95%;height:12rem;margin:0 auto;font-size: .75rem;color: #7C7C7C;background: #f6f5f5;overflow: hidden;}
.tiwen textarea{background: #f6f5f5;height:12rem;width: 100%;/*display: none;*/padding: 10px;line-height: 20px;font-size:1rem;}
.sueb span{color:#FD9A3F;}
.tiwen p{width: 100%;height: 7rem;text-align: center;line-height: 1.5rem;font-size: .75rem;margin-top: 1.5rem;position:absolute;}
.tiwen .sue{display:none;left:0;margin-top:4rem;}
.buttw{width: 9.5rem; height: 3rem;background:  #FD9A3F;border-radius: 8.4px;text-align: center;margin:0 auto;line-height: 3rem;}
.buttw span{line-height: 3;color: #fff;font-size: 1rem;}
.segu{width: 100%;min-height: 10rem;}
.bigmsg{width:100%;position: relative;height: auto;overflow: hidden;}
.bigpic{width:3rem;height:3rem;;border-radius: 100%;margin-top:.8rem;float:left;position: relative;overflow: hidden;}
.bigtxt{float:left;margin:.5rem 0 0 2rem;}
.bigtxt p{font-size:0.88rem;color:#7c7c7c;line-height: 1.5rem;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;margin-top:.2rem;}
.bigtxt h3{font-size: 0.9125rem;color:#3a3a3a;position: relative;}
.dian{display: inline-block;width:10px;height: 10px;position: relative;}
.dian:after{content: "";width: 4px;height: 4px;background: #d8d8d8;position: absolute;left:3px;top:3px;border-radius: 100%;}
.zhiwei{display: inline-block;margin-left:.3rem;font-size:.85rem;font-family: "微软雅黑";}

.title{width: 90%;height: 3rem;margin: 0 auto;font-size: .9rem;line-height: 3rem;}
.vk{color: #c0c0c0!important;}
.title_c:nth-of-type(2){color: #595959;font-weight: 600;margin-left: 1rem;}
.segu a,.segu_ a{display: inline-block;height: 1.8625rem; width:3rem;border: 1px solid #3B3B3B;border-radius: 8px;float:right;margin-top:.8rem;font-size:.95rem;text-align: center;color:#3B3B3B;line-height: 1.8625rem;}
.segu_text{color: #595959;font-size: .8rem;width: 76%;margin-left: 19%;margin-top: .6rem;line-height: 1.3rem;height: 3.8rem; overflow:hidden;}
.segu_pic{width:100%;margin-top: .9rem;height: auto;overflow: hidden;}
.segu_pic ul{width: 33rem;margin-left: 15%;}
.segu_t{width: 6rem;height: 6rem;border-radius: 6px;float: left;margin-left: .7rem;}
.segu_a{color: #3e9fe9;font-size: .8rem;margin-left: 18%;}
.article{display:none;}
.article_{display:none;}
.text_one{min-height:19rem;}
.headerpic{height:10rem;overflow:hidden;border-radius:8px;}
.line2{width: 90%;height: 1px;background: #e5e5e5;margin: 0 auto;display: block;}
.foot{height: 2rem;position: relative;display: flex;}
.af{flex:1;position:relative;}
.zan i:nth-of-type(1){display:inline-block;width:1.1rem;height:1.1rem;background:url("../../img/zanw@2x.png") no-repeat;background-size:100% 100%;margin: .8rem 0 0 3.25rem;}
.zan i:nth-of-type(2){position:absolute;top:32%;right:45%;color:#7d7d7d;}
.ping i:nth-of-type(1){display:inline-block;width:1.1rem;height:1.1rem;background:url("../../img/ping@2x.png") no-repeat;background-size:100% 100%;margin: .8rem 0 0 2.25rem;}
.ping i:nth-of-type(2){position:absolute;top:32%;right:54%;color:#7d7d7d;}
.fenx i:nth-of-type(1){display:inline-block;width:1.2rem;height:1.1rem;background:url("../../img/fen@2x.png") no-repeat;background-size:100% 100%;margin: .8rem 0 0 1.25rem;}
.fenx i:nth-of-type(2){position:absolute;top:39%;right:36%;color:#7d7d7d;font-size:.8rem}
.sbsearch{width: 90%;height: 2rem;margin: 0 auto;display:flex;display:none;}
#text{width: 100%;border: 1px solid #f3f5f7;margin: 0 auto;border-radius: 8px 0 0 8px;height: 2rem;text-indent: 5%;}
.plcontent{width: 90%; min-height: 4rem;margin:0 auto;display:none;}
.buttn{width:25%;height:2rem;background:#FD9A3F;color:#fff;border-radius:0 8px 8px 0;line-height:2rem;text-align:center;}
.plcontent ul li{font-size: .8rem;color: #4b4b4b;margin:.5rem 0;}
.plcontent ul li span{color:#027CFF;margin-right:.8rem;}
.more{font-size: .75rem;
    text-align: right;
    float: left;
    margin: .8rem auto;
    margin-right: 1rem;}
@media only screen and (min-width:414px ) {
	.school{padding: 0 4%}
	.person_text p{font-size: .85rem;}
	.income span{font-size: .85rem;}
	.school span{font-size: .85rem;}
	.persosn_introduction{font-size: .85rem;}
	.visitor{font-size: .85rem;}
	.ziliao p{font-size: .85rem;}
	.ziliao p span{font-size: .85rem;}
	.tiwen p{font-size: .85rem;}
	.sline{margin:0 .5rem;}
	.pcoffee:after{top: 1px;}
}
@media only screen and (min-width: 320px) and (max-width: 320px) {
html,body{font-size:14px!important;}
.person_pic:after{top:51px;left:46px;}
.tiwen p{width:95%;} 
.pcoffee b{top:1px;right:1rem;}
.school span i{margin-left: .5rem;}
.school{padding:0;}
}