<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>全明星</title>
		<link rel="stylesheet" href="../../css/Reset/reset.css" />
		<link rel="stylesheet" href="../../css/Allstar/allstar.css" />
		<script type="text/javascript" src="../../js/ripple.js" ></script>
		<script type="text/javascript" src="../../js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../js/Allstar/allstar.js" ></script>
		<script type="text/javascript" src="../../js/swiper-3.3.1.min.js" ></script>
		<script type="text/javascript" src="../../js/iscroll-min.js"></script>
	</head>
	<body>
		<div class="wrapper" id="wrapper">
            <div class="scroll" id="scrollbar">
            	<!--xiaoshou-->
            	<div class="kong"></div>         	
            	<div class="sale">
            		 <h2><span class="salej">销售经理</span><a href="##">更多</a></h2>
            		 <div class="kong1"></div>
            		  <span class="line"></span>
            		  <ul>
              				<li>
              					<div class="bigmsg attr-title" title="4">
              							
              						<div class="bigpic">
              							<img src="../../img/toux1.png" width="100%" height="100%">
              						</div>
              						<div class="bigtxt">
              							<h3><span class="name">Andy</span><span class="zhiwei">投资经理</span></h3>
              							<p>
              								<span>浙江大学</span>
              								<span class="sline"></span>
              								<span>机电</span>
              								<span class="sline"></span>
              								<span>东方汇富控股</span>
              							</p>
             						</div>              						
              					</div>
              					<a href="##">交流</a>
              				</li>
              				<li>
              					<div class="bigmsg attr-title" title="4">
              					
              						<div class="bigpic">
              							<img src="../../img/toux2.png" width="100%" height="100%">
              						</div>
              						<div class="bigtxt">
              							<h3><span class="name">Chuck</span><span class="zhiwei">销售经理</span></h3>
              							<p>
              								<span>浙江大学</span>
              								<span class="sline"></span>
              								<span>海洋</span>
              								<span class="sline"></span>
              								<span>思科</span>
              							</p>
             						</div>              						
              					</div>
              					<a href="##">交流</a>
              				</li>
              				<li>
              					<div class="bigmsg attr-title" title="4">
              					
              						<div class="bigpic">
              							<img src="../../img/toux3.png" width="100%" height="100%">
              						</div>
              						<div class="bigtxt">
              							<h3><span class="name">李书慧</span><span class="zhiwei">UI设计</span></h3>
              							<p>
              								<span>理工大学</span>
              								<span class="sline"></span>
              								<span>艺术设计</span>
              								<span class="sline"></span>
              								<span>路飞科技</span>
              							</p>
             						</div>              						
              					</div>
              					<a href="##">交流</a>
              				</li>          	
              			</ul>
              			<div class="kong1"></div>
            	</div>
            	<span class="line"></span>
            	<!--product-->
            	<div class="product">
            		<div class="kong1"></div>
            		<h2><span class="salej">产品经理</span><a href="##">更多</a></h2>
            		 <div class="kong1"></div>
            		  <span class="line"></span>
            		 <ul>
              				<li>
              					<div class="bigmsg attr-title" title="4">
              							
              						<div class="bigpic">
              							<img src="../../img/toux1.png" width="100%" height="100%">
              						</div>
              						<div class="bigtxt">
              							<h3><span class="name">Andy</span><span class="zhiwei">投资经理</span></h3>
              							<p>
              								<span>浙江大学</span>
              								<span class="sline"></span>
              								<span>机电</span>
              								<span class="sline"></span>
              								<span>东方汇富控股</span>
              							</p>
             						</div>              						
              					</div>
              					<a href="##">交流</a>
              				</li>
              				<li>
              					<div class="bigmsg attr-title" title="4">
              					
              						<div class="bigpic">
              							<img src="../../img/toux2.png" width="100%" height="100%">
              						</div>
              						<div class="bigtxt">
              							<h3><span class="name">Chuck</span><span class="zhiwei">销售经理</span></h3>
              							<p>
              								<span>浙江大学</span>
              								<span class="sline"></span>
              								<span>海洋</span>
              								<span class="sline"></span>
              								<span>思科</span>
              							</p>
             						</div>              						
              					</div>
              					<a href="##">交流</a>
              				</li>
              				        	
              			</ul>
              			<div class="kong1"></div>
            	</div>
            	<!--gongchengshi-->
            		<div class="product">
            			 <span class="line"></span>
            		<div class="kong1"></div>
            		<h2><span class="salej">工程师</span><a href="##">更多</a></h2>
            		 <div class="kong1"></div>
            		  <span class="line"></span>
            		 <ul>
              				<li>
              					<div class="bigmsg attr-title" title="4">
              							
              						<div class="bigpic">
              							<img src="../../img/toux1.png" width="100%" height="100%">
              						</div>
              						<div class="bigtxt">
              							<h3><span class="name">Andy</span><span class="zhiwei">投资经理</span></h3>
              							<p>
              								<span>浙江大学</span>
              								<span class="sline"></span>
              								<span>机电</span>
              								<span class="sline"></span>
              								<span>东方汇富控股</span>
              							</p>
             						</div>              						
              					</div>
              					<a href="##">交流</a>
              				</li>
              			
              				        	
              			</ul>
              			<div class="kong1"></div>
            	</div>
            	</div>
            		</div>
            		<!--footer-->
    <footer>
 		<div class="home as" data-ripple>
 			<img src="../../img/qianluhome.png" width="15%" >
 			<span class="nav">前路</span>
 		</div>
 		<div class="chat as" data-ripple>
 			<img src="../../img/chat.png" width="15%" >
 			<span class="nav">消息</span>
 		</div>
 		<div class="person as" data-ripple>
 			<img src="../../img/my.png" width="15%" >
 			<span class="nav">我的</span>
 		</div>
 	</footer>
 	
	</body>
		<script type="text/javascript">
			var iscroll = new IScroll("#wrapper",{
				mouseWheel:true,
                preventDefault: false
                
			})
			// just add effect to elements
		    Array.prototype.forEach.call(document.querySelectorAll('[data-ripple]'), function(element){
		        // find all elements and attach effect
		        new RippleEffect(element); // element is instance of javascript element node
		    });
			$.ajax({
                url:'/user/getUserList.html',
                type:'GET',
                data:{
                	isPaging:1,
					curPage:0},
                dataType:'json',
                success:function(msg){
                	if(rslt.code == "1"){
						//正常业务逻辑
						var str
						str +=
						'<li>'+
              					'<div class="bigmsg attr-title" title="4">'+
              							
              						'<div class="bigpic">'+
              							'<img src="../../img/toux1.png" width="100%" height="100%">'+
              						'</div>'+
              						'<div class="bigtxt">'+
              							'<h3><span class="name">'+ msg.nickname +'</span><span class="zhiwei">投资经理</span></h3>'+
              							'<p>'+
              								'<span>浙江大学</span>'+
              								'<span class="sline"></span>'+
              								'<span>机电</span>'+
              								'<span class="sline"></span>'+
              								'<span>东方汇富控股</span>'+
              							'</p>'+
             						'</div>'+            						
              					'</div>'+
              					'<a href="##">交流</a>'+
              				'</li>'
              				$(".hotx ul").appendTo(str)
					} else{
						console.log(msg.info);
					}
                }
            });
		</script>

</html>
