*{margin: 0;padding: 0;}		
.carousel,.complete{width: 90%;min-height: 250px;background: #fff;box-shadow: 0 2px 4px 0 rgba(212,212,212,0.50);border-radius: 14px;margin: 0 auto;margin-top: 35px;overflow: hidden;}
.carousel p,.complete p{background: #ececec;width: 100%;min-height: 40px;}
.bj{float:left;margin:10px 0 0 20px;font-size: 14px;font-family: "微软雅黑";}
.keep{float:right;margin:10px 20px 0 0;font-size: 14px;font-family: "微软雅黑";cursor: pointer;}
.leading{float:left;margin:10px 0 0 20px;font-size: 14px;font-family: "微软雅黑";}
.add{display: block;width: 20px;height: 20px;background: url(../../img/add.png) no-repeat; background-size: 100% 100%;cursor: pointer;}
.del{font-style: normal;font-size: 14px;font-family: "微软雅黑";position: absolute;bottom: -9px;cursor: pointer;}
.lb{width: 260px;height: 50px;border: 1px solid #ccc;overflow: hidden;}
.name{float:left;margin-right: 2%;}
.input-group{width: 100%;font-family: "微软雅黑";line-height: 30px;margin-left: 15%;margin-bottom: 2%;margin-top: 2%;}
.input-group input{float: left;}
.form-control{width: 200px!important;}
.revise{float:left;margin-left: 2%;cursor: pointer;}
.drtext{overflow: hidden;}
.drpic{overflow: hidden;}
.drpic #deitor p{background:#fff;}
.drtext dl{width: 85%;height: 50px;margin-left: 5%;margin-top: 10px;float: left;}
.drtext input{width: 800px;height:50px;}
/**/
.drpic dl{width: 30%;height: 182px;margin-left: 2.5%;margin-top: 10px;float: left;}
/*.complete dl{margin-left: 12%;}*/
.drpic dl dt,.drtext dl dt{float:left;height: 100%;position: relative;width: 30px;}
.drpic dl dd,.drtext dl dd{height: 100%;}
.drpic dl dd input:nth-child(1){width: 280px;height: 30px;}
.drpic dl dd textarea{width: 280px;height: 150px;margin-top: 10px;}
.drpic dl dd span{display: block;text-align: center;}